* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: Roboto;
    background-color: rgb(196, 235, 238);
}

h2 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
    color: black;
}

header {   
   display: flex;
   min-height: 7rem;
   justify-content: space-between;   
   background-color: #fff;
   align-items: center;
   padding: 10px;
   margin-bottom: 2rem;   
}

.logo {
    display: flex;
    align-items: center;    
}

.logo img {
    height: 5rem;
    margin-right: 1rem;
}

nav a{
    padding-right: 1rem;
    font-weight: 800;
}


nav a:hover{
    color: hsl(161, 73%, 32%);
}



@media (max-width:70rem){
    header{
        flex-direction: column;
    }
    nav {
        padding: 1rem 0;
    }
}

.nav-link{
    font-size: 2.3rem;
    margin-left: 1.5rem;
}
@media (max-width: 600px ) {
    .nav-link {
        font-size: 1.5rem;
    }     
}

.servicio{
    margin: 8rem auto 5rem;
    width: 120rem;
    height: 90rem;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
}

.servicio-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    grid-column: 1/5;
    grid-row: 1/5;
}

.servicio-gradient{
    background-image: linear-gradient(to top, #159e71, #0e684a 100%);

    grid-column: 2/6;
    grid-row: 2/7;
}

.servicio-articulo{
    background-color: #fff;
    padding: 2.5em;
    box-shadow: 0 0 1rem -8px #00000084;

    grid-column: 4/9;
    grid-row: 3/6;
}

.servicio-titulo{
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;

}

.servicio-parrafo{
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
}



@media (max-width:70rem){
    .servicio{
        grid-template-rows: repeat(5,1fr);
        width: auto;
        height: auto;
    }

    .servicio-gradient{
        display: none;
    }
}

@media (max-width: 50rem ) {
    .servicio{
        display: block;
    }
     
}

.titulo-servicios{
    text-align: center;
    margin-bottom: 5rem;
}

.contenedor-servicios{   
    margin: 0 auto;
    width: 80%;    
}

.contenedor-servicios1{    
    display: flex;  
    justify-content: space-around;  
    margin-bottom: 5rem;
}

.contenedor-servicios2{
    display: flex;  
    justify-content: space-around;  
    margin-bottom: 5rem;
}

.servicios{
    width: 40rem;
    height: 40rem;
    text-align: center;
    justify-content: space-between;    
    background-color: #fff;   
    margin: 0 1rem;     
    border-radius: 2rem;
}



@media (max-width: 880px) {
    
     .contenedor-servicios1{
        display:block;          
      }

      .contenedor-servicios2{
        display:block;                
      }

      .servicios{   
        width: 30rem;          
        margin: 0 auto 2rem auto;
      }      
}


.imagen-servicio{
    display: flex;
    min-width: 100%;
    height: 25rem;    
}

.imagen-servicio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {    
    text-align: center;
}

div p {
    margin-top: 20px;
    text-align: center;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }


h3 {
    font-size: 1.8rem;
    display: flex;    
    background-color: rgb(21, 158, 113);
    height: 4rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.3rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

p {
    font-weight: bold;
    text-align: justify;
}

.footer {
    display: inline-block;
    margin-bottom: 2rem;
}

.footer p {
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .footer p {
        font-size: 1.4rem;
    }     
}

/* QUIENES SOMOS */

.quienes-somos {
    margin: 0;
}

.quienes-somos h2 {
    text-align: center;  
    font-size: 4.5rem;  
}

.contenedor-quienes {
    max-width: 100rem;    
    margin: 0 auto;    
}

.contenedor-quienes p {
    font-size: 2.8rem;
}

@media (max-width: 600px) {

    .contenedor-quienes {
       max-width: 40rem;
    }
    .contenedor-quienes p {
        font-size: 1.5rem;
    }
}

.contenedor-quienes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 5rem;
}
@media (max-width: 798px) {
     .contenedor-quienes  {
        width: 50rem;
     }
}

/* TUTORIALES */

main h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
}

.parrafo-tutoriales {
    width: 50rem;
    margin: 5rem auto;
    font-size: 3rem;
}

.contenedor-tutoriales {
    display: flex;  
    justify-content: space-around;
}

.tutoriales {
    
    justify-content: space-between; 
    align-items: center;   
    background-color: #159e71;   
    margin: 0 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.tutoriales h3 {
    font-size: 2.3rem;
}

@media (max-width: 600px) {

    .tutoriales {
        margin-bottom: 3rem;
    }
    .tutoriales h3 {
        font-size: 1.6rem;
    } 
}

iframe {
    width: 45rem;
    height: 35rem;
}

@media (max-width: 1445px) {
    iframe {
        width: 30rem;
        height: 25rem;
    }     
}

@media (max-width: 992px) {
    .contenedor-tutoriales {
        display: block;   
        width: 32rem;  
        margin: 1rem auto        
    } 
    .parrafo-tutoriales {
        max-width: 30rem;
        font-size: 1.8rem;
     }    
}

@media (max-width: 530px ) {
     .parrafo-tutoriales {
        max-width: 30rem;
        font-size: 1.8rem;
     }

     .contenedor-tutoriales {
        display: block;   
        width: 32rem;  
        margin: 1rem auto        
    }
}

.tutoriales h3 {
    margin: 1rem;
}

/* CONTACTO */

.contenedor-contacto {
    display: flex;
    justify-content: space-evenly;
}

form {
    text-align: center;
    margin-bottom: 5rem;
}

.formulario {
    display: block;
    margin: 2rem auto;
    width: 40rem;
    height: 3rem;
    font-size: 1.8rem;
    border: solid 1px #00000084;
    border-radius:5rem;
    padding-left: 2rem;
}


.checkbox {
    display: flex;
    justify-content: center ;
    align-items: center; 
    margin: 2rem;   
}

.check {
    margin: 0 .5rem 0 3rem;
}

.radio {
    margin: 0 .5rem 0 3rem;
}

textarea {
    padding-top: 1rem;
    font-size: 1.6rem ;
    margin: 2rem auto;
    border: solid 1px #00000084;
    border-radius: 2rem;
}


.boton {
    width: 15rem;
    height: 3rem;
    margin: 0 2rem;
    background-color: #159e71;
    color: #fff;
    border: none;
    border-radius: 5rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.boton:hover {
    background-color: #fff;
    color: #159e71;
    border: 1px solid black;
}

.mapa iframe{
    text-align: center;
    margin: 10rem auto;
    width: 60rem;
    height: 40rem;
}

@media (max-width: 1250px) {

    .titulo-contacto {
        font-size: 1.8rem;
    }

    .checkbox {
        font-size: 1.2rem;
        margin-left: 0;
    }
    .contenedor-contacto {
        display: block;
    }

    form {
        margin: 0;
    }

    .mapa {
        text-align: center;        
        margin: 0 auto;
       
    }

    .mapa iframe {
        width: 35rem;
        height: 25rem;
    }
     
}

@media (max-width: 600px) {           
    .titulo-contacto {
        font-size: 1.8rem;
    }
    
    textarea {
        width: 35rem;
     }

     .formulario{
        width: 35rem;
     }    
}

/* RESPUESTA */

.respuesta {
    text-align: center;
}

.respuesta h2 {
    margin: 3rem auto;
}

.respuesta p {
    margin: 2rem auto;
}